*.swp
infra/package-lock.json
infra/**/__pycache__
infra/.pytest_cache
infra/.env
infra/.venv
infra/*.egg-info

# CDK asset staging directory
infra/.cdk.staging
infra/cdk.out

# pyCharm
infra/venv
infra/.idea

infra/**/secrets.py

# function
function/**/venv
function/**/.idea
function/**/__pycache__
function/**/docker-compose.override.yml
